@model BookEntriesViewModel

@{
    ViewData["Title"] = "Справочник";
}

<h1>Телефонный справочник</h1>
<br />

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-3" align="left">
            <form asp-action="Index" method="get" class="form-inline">
                <div class="form-group">
                    <div class="mr-2">
                        <input name="searchString" value="@(ViewBag.CurrentFilter as string)" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    @if (ViewBag.CurrentFilter != null)
                    {
                        <a asp-action="Index" class="btn btn-secondary">Назад</a>
                    }
                </div>
            </form>

        </div>
        <div class="col" align="right">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-action="Create">Добавить запись </a>
            }
        </div>
    </div>
</div>
<br />

<table class="table table-striped table-hover table-sm">
    <thead class="thead-light">
    @foreach (var item in Model.BookEntries.Take(1))
    {
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => item.PersonnelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Position)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Department)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.LocalPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.CityPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Room)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
            }
        </tr>
    }
    </thead>
    <tbody>
    @foreach (var item in Model.BookEntries)
    {
        <tr>
            <td class="PersonalNumberTable">
                <h5>
                    <div class="badge rounded-pill bg-info text-dark">
                        @item.PersonnelNumber
                    </div>
                </h5>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Position
            </td>
            <td>
                @item.Department
            </td>
            <td class="LocalPhoneNumberTable">
                @item.LocalPhoneNumber
            </td>
            <td class="CityPhoneNumberTable">
                @item.CityPhoneNumber
            </td>
            <td>
                @item.Mail
            </td>
            <td class="RoomTable">
                @item.Room
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-user-times"></i></a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
<br />